# Default ignored files
/../../../Homework\Homework 7 - Image Processing (Part 3)/.idea/shelf/
/../../../Homework\Homework 7 - Image Processing (Part 3)/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../Homework\Homework 7 - Image Processing (Part 3)/.idea/httpRequests/
